body {
	background-color: hotpink;
}

.ziemniaki {
	background-color: white;
	padding: 25px;
}

.wieloryb {
	background-color: blue;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	padding-right: 150px ;
	font-size: 20px;
	border-radius: 24;
	}

.obrazek {
	height: 150px;
	border-radius: 24px;
}